@model MindTheGap.Models.Progress

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Progress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.interestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interestId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interest.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interest.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.progressId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
